<!DOCTYPE html>
  <html>
    <head>
      <link href="https://fonts.googleapis.com/css?family=Open+Sans|Yellowtail&display=swap" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="tab.css" />
      <script src="tab.js"></script>
      <title>Finch</title>
    </head>
    <body>
      <main style="background-image: url('/assets/images/tropaeolum_majus.jpg')">
        <content id="species-description" class="label-shadow">
          <h1>Tropaeolum Majus</h1>
          <section class="flex-row">
            <section class="flex-col-2">
                <label><strong>Order:</strong> Brassicales</label>
            </section>
            <section class="flex-col">
                <label><strong>Family:</strong> Tropaeolaceae</label>
            </section>
          </section>
        </content>
      </main>
    </body>
  </html>