/* font-family: 'Open Sans', sans-serif;
font-family: 'Yellowtail', cursive; */

body {
    background: #333333;
    color: #333333;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Yellowtail', cursive;
    font-size: 3em;
}

a {
    color: #333333;
}

main {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #333333;
    background-size: cover;
    background-position: center center;
}

#species-description {
    position: absolute;
    width: 30rem;
    max-height: 80%;
    overflow-y: scroll;
    right: 2vw;
    bottom: 2vw;
    padding: 2em;
    background: #eeeeee;
    text-align: center;
}

#species-description h1 {
    text-transform: capitalize;
    margin: 0;
}

#species-description label {
    margin: 0;
    font-size: 1rem;
    text-transform: uppercase
}

#species-description .attribution-section label {
    margin: 0.5rem auto 0;
    font-style: italic;
    font-size: 0.8rem;
}

.taxonomy-script {
    font-family: 'Yellowtail', cursive;
    font-size: 1.4rem;
    text-transform: capitalize;
}

.description-section {
    text-align: justify;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    white-space: pre-line;
}

.description-section {
    font-style: italic;
}

/* CSS Attribute Styling */

.label-shadow {
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.flex-row { 
    display: flex;
    flex-direction: row;
}

.flex-col {
    margin: 0 1em;
    width: 50%;
}